/* styles.css */

body {
    background: linear-gradient(to right, #9CA5F4, #626CC3);
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.sidebar {
    width: 250px;
    height: 100vh; /* Full height sidebar */
    border-radius: 10px;
}

.sidebar .menu-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.sidebar a {
    color: #969696;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #5744D7;
    color: white;
}

.main-content {
    flex: 1;
    padding: 2rem;
}

.upgrade-container {
    background: linear-gradient(to bottom, #aa94fb, #6F62DD);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
    margin-top: auto; /* Push to the bottom */
}

/* Adjust other styles as per your design */
