{% load static %}

<div id="sidebar" class="sidebar flex flex-col pl-4 pt-4 pb-4 bg-gray-100 rounded-tl-lg squared-tr-lg rounded-bl-lg ml-2 mt-2 mb-2 transition-all duration-300 w-64">
    <div class="flex items-center mb-8 mt-3 mr-2">
        <button id="toggleSidebarBtn">
            <i id="toggleIcon" class="fas fa-bars fa-lg text-gray-400 text-xs"></i>
        </button>
        <div id="taskyContainer" class="flex items-center justify-center ml-6">
            <i class="fas fa-file-signature fa-2x text-purple-600"></i>
            <h1 class="text-3xl font-bold text-purple-600 ml-2">Tasky</h1>
        </div>
    </div>
    
    <div id="sidebarContent" class="flex flex-col flex-grow">
        <a href="#" class="menu-item active text-sm w-full mr--5" onclick="handleMenuClick(this)">
            <i class="fas fa-home fa-sm ml-4 mr-2"></i>
            Dashboard
        </a>
        <a href="#" class="menu-item text-sm w-full mr--5" onclick="handleMenuClick(this)">
            <i class="fas fa-tasks fa-sm ml-4 mr-2"></i>
            Tasks
        </a>
        <a href="#" class="menu-item text-sm w-full mr--5" onclick="handleMenuClick(this)">
            <i class="fas fa-calendar-alt fa-sm ml-4 mr-2"></i>
            Calendar
        </a>
        <a href="#" class="menu-item text-sm w-full mr--5" onclick="handleMenuClick(this)">
            <i class="fas fa-users fa-sm ml-4 mr-2"></i>
            Members
        </a>
    </div>

    <div id="upgradeContainer" class="upgrade-container items-center bg-gradient-to-r ml-4 mt-4 mb-4 mr-8 from-purple-700 to-purple-800 text-white rounded-lg relative">
        <div class="flex text-center">
            <img src="{% static 'images/rocket.png' %}" alt="Rocket" class="absolute -top-16 h-32 mt-2">
        </div>
        <div class="text-center ">
            <p class="text-sm mt-10 mb--14">Upgrade to Pro</p>
        </div>
    </div>
</div>

<script>
    function handleMenuClick(element) {
        // Remove 'active' class from all menu items
        const menuItems = document.querySelectorAll('.menu-item');
        menuItems.forEach(item => {
            item.classList.remove('active');
        });

        // Add 'active' class to the clicked menu item
        element.classList.add('active');
    }
</script>

<style>
    .w-64 {
        width: 16rem;
    }
    .w-16 {
        width: 4rem;
    }
    .transition-all {
        transition: all 0.3s ease;
    }
</style>